@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: -800px;
}

ul {
    height: 20px;
    width: 95%; /* Largura */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    margin-top: 15px;
}

.img-topo {
    height: 50px;  /* Altura */
}

.capa {
    position: absolute;
    bottom: -980%;   /* TOP - CIMA, BOTTOM - BAIXO, LEFT - ESQUERDA, RIGHT- DIREITA */
    left: 5%;
    width: 35%;
    z-index: 3;
}

.capa-titulo {
    color: white;
    font-size: 45px;  /* Tamanho da fonte */
    margin-bottom: 5px;
    font-weight: bold; /* Grossura da fonte */
}

.capa-descricao {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
